* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #212529;
}

a {
    text-decoration: none;
}

header {
    .popup {
        background-color: #2F2F35;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;

        .logo {
            display: flex;
            gap: 20px;
        }

        .navbar {
            display: flex;
            gap: 30px;
            align-items: center;
            list-style: none;
        }
    }
}


/*+++++++++++++= SOME REASONS ++++++++++++++++++ */

.about {
    background-color: #F0F4F8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .about__hedr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        p {
            color: #2c7ae7;
            line-height: 24px;
            font-size: 16px;
        }

        h2 {
            font-size: 40px;
            line-height: 48px;
            font-weight: 700;
            color: #3b3b44;
        }
    }
}

.about__card {
    display: flex;
    max-width: 500px;
    justify-content: space-around;
    gap: 30px;
    .about__card__num {
        display: flex;
        gap: 10px;
        position: absolute;

        &::after {
            content: "";
            top: 50%;
            margin-top: -1px;
            position: absolute;
            left: 100%;
            width: 3.25rem;
            height: 1px;
            background-color: #303036;
        }
    }
    .about__card__text{
        max-width: 100px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}